## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lingyuan,CN,41.2400,119.4011,70.03,77,15,2.89,few clouds
1,1,Pangnirtung,CA,66.1451,-65.7125,44.60,100,100,9.22,light intensity drizzle
2,2,Karratha,AU,-20.7377,116.8463,72.19,78,0,7.78,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,69.96,94,20,3.44,few clouds
4,4,Mahebourg,MU,-20.4081,57.7000,71.89,68,75,16.11,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Wewak,PG,-3.5534,143.6268,79.95,82,78,5.64,broken clouds
10,10,Micheweni,TZ,-4.9667,39.8333,77.36,72,15,15.19,few clouds
14,14,Surt,LY,31.2089,16.5887,82.94,55,0,14.07,clear sky
26,26,Nikolskoye,RU,59.7035,30.7861,82.87,44,0,7.87,clear sky
28,28,Yichang,CN,30.7144,111.2847,80.74,88,98,1.79,light rain
29,29,Oleksandrivka,UA,48.9634,32.2349,76.98,37,100,14.47,overcast clouds
35,35,Barra Do Bugres,BR,-15.0725,-57.1811,87.62,28,4,5.68,clear sky
36,36,Nouadhibou,MR,20.9310,-17.0347,76.98,73,20,10.36,few clouds
38,38,Kavieng,PG,-2.5744,150.7967,81.72,79,100,10.42,light rain
40,40,Victoria,HK,22.2855,114.1577,89.19,76,1,5.99,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                286
City                   286
Country                286
Lat                    286
Lng                    286
Max Temp               286
Humidity               286
Cloudiness             286
Wind Speed             286
Current Description    286
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Wewak,PG,79.95,broken clouds,-3.5534,143.6268,
10,Micheweni,TZ,77.36,few clouds,-4.9667,39.8333,
14,Surt,LY,82.94,clear sky,31.2089,16.5887,
26,Nikolskoye,RU,82.87,clear sky,59.7035,30.7861,
28,Yichang,CN,80.74,light rain,30.7144,111.2847,
29,Oleksandrivka,UA,76.98,overcast clouds,48.9634,32.2349,
35,Barra Do Bugres,BR,87.62,clear sky,-15.0725,-57.1811,
36,Nouadhibou,MR,76.98,few clouds,20.9310,-17.0347,
38,Kavieng,PG,81.72,light rain,-2.5744,150.7967,
40,Victoria,HK,89.19,clear sky,22.2855,114.1577,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Wewak,PG,79.95,broken clouds,-3.5534,143.6268,In Wewak Boutique Hotel
10,Micheweni,TZ,77.36,few clouds,-4.9667,39.8333,
14,Surt,LY,82.94,clear sky,31.2089,16.5887,الهادي ابوشعاله سرت
26,Nikolskoye,RU,82.87,clear sky,59.7035,30.7861,Tourist House - Sablino
28,Yichang,CN,80.74,light rain,30.7144,111.2847,Gezhouba Hotel
29,Oleksandrivka,UA,76.98,overcast clouds,48.9634,32.2349,Смт олександрівка
35,Barra Do Bugres,BR,87.62,clear sky,-15.0725,-57.1811,Hotel 4AM Petrofurt
36,Nouadhibou,MR,76.98,few clouds,20.9310,-17.0347,El Medina
38,Kavieng,PG,81.72,light rain,-2.5744,150.7967,Nusa Island Retreat
40,Victoria,HK,89.19,clear sky,22.2855,114.1577,Mini Central

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!= '')]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Wewak,PG,79.95,broken clouds,-3.5534,143.6268,In Wewak Boutique Hotel
14,Surt,LY,82.94,clear sky,31.2089,16.5887,الهادي ابوشعاله سرت
26,Nikolskoye,RU,82.87,clear sky,59.7035,30.7861,Tourist House - Sablino
28,Yichang,CN,80.74,light rain,30.7144,111.2847,Gezhouba Hotel
29,Oleksandrivka,UA,76.98,overcast clouds,48.9634,32.2349,Смт олександрівка
...,...,...,...,...,...,...,...
672,Nicoya,CR,76.53,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
675,Yangcun,CN,81.00,broken clouds,39.3639,117.0603,Hanting Express Tianjin Wuqing Jingjin Road
676,Porto Novo,BJ,82.22,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
681,Kumluca,TR,88.92,clear sky,36.3703,30.2869,Akkol Apart
683,Praya,CV,84.74,broken clouds,14.9215,-23.5087,LT Aparthotel

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))