## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy 

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

# vacation_df.head()
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Wewak,PG,79.95,broken clouds,-3.5534,143.6268,In Wewak Boutique Hotel
1,14,Surt,LY,82.94,clear sky,31.2089,16.5887,الهادي ابوشعاله سرت
2,26,Nikolskoye,RU,82.87,clear sky,59.7035,30.7861,Tourist House - Sablino
3,28,Yichang,CN,80.74,light rain,30.7144,111.2847,Gezhouba Hotel
4,29,Oleksandrivka,UA,76.98,overcast clouds,48.9634,32.2349,Смт олександрівка
5,35,Barra Do Bugres,BR,87.62,clear sky,-15.0725,-57.1811,Hotel 4AM Petrofurt
6,36,Nouadhibou,MR,76.98,few clouds,20.9310,-17.0347,El Medina
7,38,Kavieng,PG,81.72,light rain,-2.5744,150.7967,Nusa Island Retreat
8,40,Victoria,HK,89.19,clear sky,22.2855,114.1577,Mini Central
9,42,Nishihara,JP,83.48,few clouds,26.1842,127.7558,Minshuku Agaihama

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(48.9167, 2.3333), zoom_level=6)

# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saint-Denis"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saint-Denis"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Montabaur"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Riedlingen"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Talant"]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0] 
print(f"Start: {start}, End: {end}")

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f"Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}")

Start: (48.9167, 2.3333), End: (48.9167, 2.3333)
Stop 1: (50.4333, 7.8333), Stop 2: (48.1545, 9.4756), Stop 3: (47.3369, 5.0089)

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")

fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,429,Saint-Denis,FR,83.93,overcast clouds,48.9167,2.3333,ibis budget Paris Porte de Montmartre
1,221,Montabaur,DE,82.54,overcast clouds,50.4333,7.8333,Hotel Schlemmer
2,143,Riedlingen,DE,84.13,broken clouds,48.1545,9.4756,Danuvius Ferienwohnung
3,612,Talant,FR,89.42,clear sky,47.3369,5.0089,Hôtel Restaurant Campanile Dijon Gare

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(48.9167, 2.3333), zoom_level=6)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# allapalli2_chatakonda = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING", show_markers=False)

# fig.add_layer(allapalli2_chatakonda)

# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))